.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 991px) {
    .container_topo {
        width: 991px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 1800px;
        max-width: 90%;
    }
}

.fundo-topo{
    background-color: #355070;
}

.img-logo{
    padding-top: 20px;
    transition: all 0.8s;
}

.img-logo:hover{
    transform: scale(1.04);
}

.controle-topo{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.info-topo{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.info-btn{
    display: flex;
    gap: 0.75rem;
}

.btn-a{
    background-color: transparent;
    border: none;
    padding: 0;
}

/* CONFIGURAÇÕES LIBRAS */
.infoVlibras {
    text-align: center;
    margin: 3px 0 0 0;
}

.dropVlibras-content a {
    color: black;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: auto;
}

.dropVlibras {
    position: relative;
    display: inline-block;
}

.dropVlibras:hover .dropVlibras-content {
    display: block;
}

.dropVlibras-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    width: 150px;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 20%);
    z-index: 99;
    right: 0;
}

/* ------------- */

.controle-lupa{
    align-items: center;
    display: flex;
    border: 4px solid #ffff;
    border-radius: 23px;
    height: 45px;
    padding: 0 1rem;
    justify-content: space-between;
}

.txt-pesquisa{
    background: transparent;
    color: #ffff;
    border: none;
    width: 90%;
}

:focus-visible {
    outline: none !important;
}

.btn-lupa{
    background: transparent;
    border: none;
}

@media (max-width: 1200px) {
    .controle-topo {
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 700px) {
    .controle-topo {
        gap: 1.5rem;
        align-items: center;
    }

    .img-logo-topo{
        padding-top: 10px;
    }
    
    .img-logo{
        width: 100%;
        padding: 0 10px;
    }

    .info-btn{
        gap: 0.5rem;
    }
}

@media (max-width: 400px) {
    .img-btn{
        width: 30px;
    }
    .info-topo {
        gap: 1rem;
    }
}