.controle-menu{
    padding: 0.5rem 0;
}

.nav:before, .nav:after{
    display: none;
}

.navbar-default{
    background: transparent;
    border: none;
    margin: 0;
}

.menu-topo-nav-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt-titulo-menu{
    font: normal normal bold 17px/20px Montserrat;
    letter-spacing: 1.27px;
    color: #155C98 !important;
    opacity: 1;
}

.navbar-collapse.in {
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

@media (max-width:1199px){
    .txt-titulo-menu {
        font: normal normal bold 13px / 20px Montserrat;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .icone-menu{
        display: none;
    } 
    .txt-titulo-menu {
        font: normal normal bold 10px / 15px Montserrat;
    }
}

@media (max-width:767px){
    .menu-topo-nav-2{
        flex-direction: column;
        align-items: center;
    }

    .bnt-responsivo-menu{
        margin: 5px 0;
    }
    .menuResponsivo{
        display: flex;
        justify-content: center;
    }
    .navbar-nav>.open>a{
        border: 1px solid #355070;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .navbar-nav .open .dropdown-menu {
        border: 1px solid #e7e7e7;
    }
}

