.fundo-banner {
  background: #f7f7f7;
}

.controle-banner {
  padding: 1.2rem 0;
}

.owl-nav {
  position: absolute;
  bottom: 60%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.owl-prev,
.owl-next {
  background: white;
  display: flex;
  width: 63px;
  height: 63px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 1;
}

.owl-prev {
  left: -25px;
}

.owl-next {
  right: -25px;
}

.owl-dots {
  position: absolute;
  display: flex;
  bottom: 1rem;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.owl-dot {
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
}

.owl-dot.active {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 3px 6px #00000029;
  border: 5px solid #ffffff;
}

.img-banner {
  width: 100%;
  height: 350px !important;
  object-fit: fill;
}

@media (max-width: 1599px){
  .img-banner, .owl-stage-outer{
    border-radius: 23px;
  }
  .controle-banner {
    padding: 1.2rem 0.5rem;
  }
}

@media (max-width: 991px){
  .img-banner {
    height: 300px !important;
  }
  .owl-nav {
    bottom: 65%;
  }
}

@media (max-width: 767px){
  .img-banner {
    height: 250px !important;
  }
  .owl-prev,
  .owl-next {
    width: 53px;
    height: 53px;
  }
  .owl-prev {
    left: 15px;
  }

  .owl-next {
    right: 15px;
  }
}

@media (max-width: 400px){
  .img-banner {
    height: 200px !important;
  }
  .owl-prev,
  .owl-next {
    width: 43px;
    height: 43px;
  }
  .owl-nav {
    bottom: 62%;
  }
  .controle-banner {
    padding: 1.2rem 0;
  }
}
