.controle-tv-acoes {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

/* ------------------------- */

.itens-tv {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  gap: 2rem;
  width: 630px;
}

.info-tv {
  background-color: #000000;
  padding: 3rem 2rem;
  border-radius: 11px;
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.custom {
  width: 100%;
}

.imgs-total {
  width: 135px;
  height: 90px;
  object-fit: cover;
}

.titulo-video {
  background-color: #ffff;
  padding: 2.5rem 2rem;
  font: normal normal bold 18px/27px Roboto;
  color: #363f49;
}

.image-total {
  padding: 0px !important;
}

.lista-total {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* ------------------------- */

/* ------------------------- */
.info-acoes {
  background-color: #363f49;
  padding: 3rem 2rem;
  border-radius: 11px;
  width: 740px;
}

.titulo-tv-acoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.txt-titulo-tv-acoes {
  font: normal normal 900 42px/57px Segoe UI;
  color: #ffffff;
}

.separador-titulo {
  width: 90px;
  height: 0px;
  border: 4px solid #e4e4e4;
}

.itens-acoes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.item-acao {
  display: flex;
  transition: all 0.8s;
}

.controle-img-destaque {
    transition: all 0.8s;
}

.item-acao:hover,
.controle-img-destaque:hover {
    transform: scale(1.03);
}

.img-acao {
  width: 200px;
  height: 150px;
  border-radius: 11px 0 0 11px;
  object-fit: cover;
}

.txt-acao {
  background-color: #e7e7e7;
  padding: 1.5rem 2rem;
  border-radius: 0 11px 11px 0;
  width: 100%;
}

.txt-titulo-acao,
.txt-artigo-acao {
  font: normal normal normal 18px/27px Roboto;
  letter-spacing: 0px;
  color: #363f49;
  opacity: 1;
}

.btn-acoes {
  display: flex;
  justify-content: center;
}

.btn-todas {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 4px solid #ffff;
  border-radius: 11px;
  transition: all 0.8s;
}

.txt-btn-acoes {
  font: italic normal bold 19px / 19px Roboto;
  letter-spacing: 1.9px;
  color: #ffffff;
}

.btn-todas:hover{
    background-color: #ffff;
    transform: scale(1.05);
}

.btn-todas:hover .txt-btn-acoes {
    color: #355070;
}

/* ------------------------- */


@media(max-width: 1599px){
    .info-tv, .info-acoes {
        width: 655px;
    }
    .itens-tv {
        width: 550px;
    }
    .imgs-total {
        width: 125px;
        height: 75px;
    }
}

@media(max-width: 1399px){
    .rounded {
        height: 295px;
    }
    .lista-total {
        flex-wrap: wrap;
        column-gap: 0rem;
        row-gap: 1rem;
        padding: 0px 4rem;
    }
    .info-tv, .info-acoes {
        width: 565px;
        padding: 2rem 1rem;
    }
    .itens-tv {
        width: 430px;
    }
    .titulo-video {
        padding: 1.5rem;
        font: normal normal bold 16px / 20px Roboto;
    }
    .txt-titulo-tv-acoes {
        font: normal normal 900 30px / 37px Segoe UI;
    }
    .txt-acao {
        padding: 1.5rem;
    }
    .img-acao {
        width: 170px;
        height: 140px;
    }
}

@media(max-width: 1199px){
    .titulo-video {
        padding: 1rem;
    }
    .info-tv, .info-acoes {
        width: 475px;
    }
    .lista-total {
        padding: 0px 3rem;
    }
    .itens-tv {
        width: 400px;
    }
    .img-acao {
        width: 140px;
        height: 130px;
    }
    .txt-titulo-acao, .txt-artigo-acao {
        font: normal normal normal 14px / 20px Roboto;
    }
    .rounded {
        height: 265px;
    }
}

@media(max-width: 991px){
    .info-tv, .info-acoes {
        width: 355px;
    }
    .lista-total {
        padding: 0;
    }
    .rounded {
        height: 160px;
    }
    .txt-titulo-tv-acoes {
        font: normal normal 900 21px / 20px Segoe UI;
    }
    .img-acao {
        width: 100px;
        height: 80px;
    }
    .txt-acao {
        padding: 0.5rem 1rem;
    }
    .txt-titulo-acao, .txt-artigo-acao {
        font: normal normal normal 12px / 16px Roboto;
    }
    .itens-tv {
        width: 300px;
        padding-top: 1.5rem;
        gap: 1.5rem;
    }
}

@media(max-width: 767px){
    .controle-tv-acoes {
        padding: 1.5rem 0;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .info-tv, .info-acoes {
        width: 400px;
    }
}

@media(max-width: 449px){
    .info-tv, .info-acoes {
        width: 100%;
    }
}
