@import "../../partes/css/00-popup.css";
@import "../../partes/css/01-topo.css";
@import "../../partes/css/02-menu.css";
@import "../../partes/css/03-banner.css";
@import "../../partes/css/04-noticias.css";
@import "../../partes/css/05-acesso-rapido.css";
@import "../../partes/css/06-tv-acoes.css";
@import "../../partes/css/07-redes-sociais.css";
@import "../../partes/css/08-rodape.css";
