
/* Padding */

.no-padding{
	padding: 0 ;
}
.no-padding-right{
	padding-right: 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: 0 !important;
}
.no-padding-left-right{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.padding-5{
	padding: 5px !important;
}
.padding-10{
	padding: 10px !important;
}
.padding-20{
	padding: 20px !important;
}
.padding-30{
	padding:30px !important;
}


/* Margin */

.no-margin{
	margin: 0 !important;
}
.no-margin-right{
	margin-right: 0 !important;
}
.no-margin-left{
	margin-left:  0 !important;
}
.no-margin-top{
	margin-top: 0 !important;
}
.no-margin-bottom{
	margin-bottom: 0 !important;
}
.no-margin-left-right{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.margin-5{
	margin: 5px !important;
}
.margin-10{
	margin:10px !important;
}
.margin-20{
	margin: 20px !important;
}
.margin-30{
	margin: 30px !important;
}

.margin-center{
	margin: 0 auto;
}


/* Border */

.no-border{
	border: none !important;
}
.no-border-right{
	border-right: none !important;
}
.no-border-left{
	border-left: none !important;
}
.no-border-top{
	border-top: none !important;
}
.no-border-bottom{
	border-bottom: none !important;
}

/* Display */

.dp-inline{
	display: inline !important;
}
.dp-block{
	display: block !important;
}

/* height */

.h-25{
	height: 25%;
}
.h-50{
	height: 50%;
}
.h-75{
	height: 75%;
}
.h-100{
	height: 100%;
}

/* Width */

.w-25{
	width: 25%;
}
.w-50{
	width: 50%;
}
.w-75{
	width: 75%;
}
.w-100{
	width: 100%;
}

/* Max height*/

.mh-25{
	max-height: 25%;
}
.mh-50{
	max-height: 50%;
}
.mh-75{
	max-height: 75%;
}
.mh-100{
	max-height: 100%;
}

/* max width */

.mw-25{
	max-width: 25%;
}
.mw-50{
	max-width: 50%;
}
.mw-75{
	max-width: 75%;
}
.mw-100{
	max-width: 100%;
}





/* XS */
@media (min-width: 768px) {
	.float-right-xs{
		float: right;
	}
	.float-left-xs{
		float: left;
	}
}

/* SM */
@media (min-width: 768px) and (max-width: 992px) {
	.float-right-sm{
		float: right;
	}
	.float-left-sm{
		float: left;
	}
}

/* MD */
@media (min-width: 992px) {
	.float-right-md{
		float: right;
	}
	.float-left-md{
		float: left;
	}
}

@media screen and (max-width: 767px){
	.padding-mobile{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}