p {
  margin: 0px;
}
.cookies-container {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  width: 100%;
  bottom: 2rem;
  z-index: 1000;
}
.cookies-pref {
  display: flex;
  grid-gap: 1rem;
}

.cookies-pref button {
  width: 70px;
  text-align: center;
}

.btn-light {
  color: #000;
}

.btn-light {
  color: #fff;
}

.btn-warning {
  background-color: #0a2545;
  transition: all 0.5s;
}

.politica {
  width: 40%;
}

.politica a {
  color: rgb(0, 0, 0);
}

.cookies-content {
  position: fixed;
  z-index: 9999999;
  bottom: 19px;
  background-color: #f8f8f8;
  width: 90%;
  padding: 24px;
  margin: 0 auto 40px;
  left: 0;
  color: rgb(0, 0, 0);
  right: 0;
  border: 2px solid #f5b805;
  font-size: 14px;
  line-height: 20px;
  max-width: 1073px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 15%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  grid-gap: 2rem;
  align-items: center;
  opacity: 0;
  transform: translateY(1rem);
  animation: slideUp 1s ease 3s forwards;
}

@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}

.cookies-pref label {
  margin-right: 1rem;
}

.cookies-sim {
  width: auto;
  display: block;
  float: left;
  text-align: right;
}

.cookies-no {
  width: auto;
  display: block;
  float: left;
  text-align: right;
}


@media (max-width: 600px) {
  .cookies-content {
    flex-direction: column;
  }
  .politica {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .cookies-content {
    height: 57%;
  }
}
